//-------- Common Variables ---------
$common-color: #ffffff;

//-------- Common devices -----------
$mobile-min-width: 320;
$mobile-max-width: 480;
$tablet-min-width: 481;
$tablet-max-width: 768;
$laptop-min-width: 769;
$laptop-max-width: 1024;
$desktop-min-width: 1025;
